.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
}